<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/stores/add" method="post">
        <label for="fname">What is the name of your store</label><br>
        <input type="text" name="name"><br>

        <label for="lname">Where does your store located?</label><br>
        <input type="text" name="location"><br><br>

        <label for="lname">what kind of store do you want?</label><br>
        <input type="radio" name="category" value="Mart"> Mart<br>
        <input type="radio" name="category" value="Widi"> Midi<br>
        <input type="radio" name="category" value="Express"> Express <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>