<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Stock</th>
            <th>Nama Toko</th>
            <th>Action</th>

        </tr>
        <%result.map(e=>{ %>

            <tr>
                <td>
                    <%= e.name %>
                </td>
                <td>
                    <%= e.stock %>
                </td>
                <td>
                    <%= e.Store.name %>
                </td>
                <td>
                    <a href="/home/<%=e.id%> /delete"><button>Delete</button></a>
                    <a href=""><button>Add Stock</button></a>
                    <a href=""><button>Delete Stock</button></a>
                </td>
            </tr>
            <% }) %>

    </table>
</body>

</html>